:root {
    --background: #222;
    --foreground: black;
    --color: #B130FC;
}

@font-face {
    font-family: "Geist";
    src: url(fonts/Geist-Regular.woff2);
}

body {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: var(--background);
    color: white;
    margin: 0;
    font-family: Geist;
}

* {
    box-sizing: border-box;
}

/* Navbar area*/

nav {
    display: flex;
    margin: 0;
    background-color: var(--foreground);
    border-bottom: white 3px solid;
}
/*Formats subcategories*/
.category-costs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2em .6em;
    margin: 0.75em;
    padding-right: 1em;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: calc(5em * .3) calc(3em * .3);
}

section {
    background-color: var(--foreground);
    margin: .5em;
}

section>h3 {
    margin: 1.6em;
}

.category-costs> label {
    display: flex;
    justify-self: flex-end;
    align-self: center;
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.category-costs> :is(select, input) {
    padding: .5rem;
    border: var(--color) 3px solid;
    background-color: var(--foreground);
    color: white;
    
    border-radius: .5rem;
}

.category-costs > input {
    width: 6rem; 
    &::placeholder{
        color: #CCCCCC;
    }
}

