:root {
    --background: #222;
    --foreground: black;
    --color: #B130FC;
}

@font-face {
    font-family: "Geist";
    src: url(fonts/Geist-Regular.woff2);
}

body {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: var(--background);
    color: white;
    margin: 0;
    font-family: Geist;
}

* {
    box-sizing: border-box;
}

/* Navbar area*/

nav {
    display: flex;
    margin: 0;
    background-color: var(--foreground);
    border-bottom: white 3px solid;
    align-items: center;
}
nav img {
    margin-left: 1em;
    width: 2.1em;
    height: 2.1em;
}
/*Formats subcategories*/
.category-costs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2em .6em;
    margin: 0.75em;
    padding-right: 1em;
    font-size: 1.2em;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: calc(5em * .2) calc(3em * .1);
    padding: .8em 1.5em;
}

section {
    background-color: var(--foreground);
    margin: 1em 1em;
}

section>h3 {
    font-weight: 500;
    font-size: 1.8em;
    margin: 1.6em;
}

.category-costs> label {
    display: flex;
    justify-self: flex-end;
    align-self: center;
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.category-costs> :is(select, input) {
    padding: .5rem;
    border: var(--color) 3px solid;
    background-color: var(--foreground);
    color: white;
    font-size: 1.1em;
    border-radius: .5rem;
    font-family: Geist;
}

.category-costs > input {
    width: 6rem; 
    &::placeholder{
        color: #CCCCCC;
    }
}
#graph-data ul {
    list-style-type: none;
    & li:nth-child(1)::before {
        content:"■";
        color: orange;
        width: 2em;
        height: 2em;
        background: orange;
        padding: 0em .4em;
        margin-right: .5em;
    }
}
